
// Color assignments 
@font-color: @shark;
@button-bg: @eastern-blue;
@main-bg:  @white;
@navigation-border: @silver;
@footer-bg: @sandy-beach;

// Colors
@white: #FFFFFF;
@silver: #C0C0C0;
@shark: #212529;
@eastern-blue: #17A2B8;
@sandy-beach: #FFEBCD;

//media query
@media (max-width:500px) {
    .container {
        width: 90%;
    }
}
@media (max-width:500px) {
    .navigation {
        flex-wrap: wrap;
        flex-direction: column;
        nav {
            a {
               
             margin: 0rem 2.5rem;
            }
        }
    }
        
}
@media (max-width:500px) {
    .bus {
        padding-left: 1rem;
        padding-right: 2rem;
        
    }
}

@media (max-width:500px){
    .top-section {
        width: 90%;
        margin-left: 2rem;
    }
}
@media (max-width:500px) {
    .content-section {
        padding-left: 2rem;
        flex-direction: column;
        display: flex;
        img {
            width: 40rem;
        }
        
    }
    .text-content {
        .extra {
            width: 41rem;
        }
    }
}
@media (max-width:500px){
    .inverse-content {
        flex-direction: column-reverse;
        
    }
}
@media (max-width: 500px) {
    .content-destination {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 42rem;
        }
        .destination-spot {
            width: 90%;
        }
}
}

@media (max-width:500px) {
    .content-pick {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 120rem;
        margin: 0rem 5rem;
        

    }
    .destination {

    
        .btn {
            width: 35rem;
            height: 4rem;
            padding-top: 1rem;
    }
}
    


    
}